click==7.1.2
colorama==0.4.4
colorlog==4.4.0
colormap==1.0.3
easydev==0.10.1
Flask==1.1.2
Flask-SocketIO==4.3.1
Flask-SQLAlchemy==2.4.4
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pexpect==4.8.0
ptyprocess==0.6.0
python-engineio==3.13.2
python-socketio==4.6.0
six==1.15.0
SQLAlchemy==1.3.20
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.1.2
